.btnPesquisar {
    -fx-background-color: #3498db;
    -fx-border-width: 3px;
    -fx-border-color: #3498db;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-text-fill: #f5f6fa;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btnPesquisar:hover {
    -fx-background-color: #2980b9;
    -fx-text-fill: #dcdde1;
    -fx-border-color: #2980b9;
}

.btnSalvar {
    -fx-background-color: #4cd137;
    -fx-border-width: 3px;
    -fx-border-color: #4cd137;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-text-fill: #f5f6fa;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btnSalvar:hover {
    -fx-background-color: #44bd32;
    -fx-text-fill: #dcdde1;
    -fx-border-color: #44bd32;
}

.btnCancelarDeletar {
    -fx-background-color: #e84118;
    -fx-border-width: 3px;
    -fx-border-color: #e84118;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-text-fill: #f5f6fa;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.btnCancelarDeletar:hover {
    -fx-background-color:#c23616;
    -fx-text-fill: #dcdde1;
    -fx-border-color: #c23616;
}