/* Cores:
branco: #f5f6fa
cinza-claro: #576574
cinza-escuro: #222f3e
*/

.screen {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #576574, #222f3e)
}
.button{
    -fx-background-color: transparent;
    -fx-border-width: 3px;
    -fx-border-color: #f5f6fa;
    -fx-border-style: solid;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-size: 18px;
    -fx-text-fill: #f5f6fa;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.button:hover{
    -fx-background-color: #f5f6fa;
    -fx-text-fill: #222f3e;
}

.button.active {
    -fx-background-color: #f5f6fa;
    -fx-text-fill: #222f3e;
}

Label {
    -fx-text-fill: #f5f6fa;
    -fx-font-weight: bold;
}